APP_NAME="API Segura de E-commerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

# Configuración de Base de Datos
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=proyecto_ecommerce
DB_USERNAME=root
DB_PASSWORD=

# Configuración de la Pasarela de Pagos Stripe (Pruebas)
STRIPE_KEY="pk_test_ingresa_tu_llave_aqui"
STRIPE_SECRET="sk_test_ingresa_tu_llave_aqui"

# Configuración de l5-Swagger
L5_SWAGGER_GENERATE_ALWAYS=true
